@font-face {
  font-family: 'Neo Sans Pro';
  src: url("../fonts/Neo Sans Pro.eot");
  src: url("../fonts/Neo Sans Pro.eot?#iefix") format("embedded-opentype"), url("../fonts/Neo Sans Pro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url("../fonts/NeoSansPro-Regular.svg#NeoSansPro-Regular") format("svg"), url("../fonts/NeoSansPro-Regular.ttf") format("truetype"), url("../fonts/NeoSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Neo Sans Pro'; }

main {
  background-color: #f3f2f6;
  min-height: -webkit-calc(100vh - 200px - 56px);
  min-height: calc(100vh - 200px - 56px); }

.navbar {
  font-size: 18px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
          box-shadow: 0px 20px 40px -20px #bec6de;
  padding: 8px 16px !important; }
  .navbar .container {
    max-width: 1640px; }
    .navbar .container .button-exit {
      color: #333333;
      padding: 5px 10px;
      border-radius: 30px;
      border: 2px solid #333333;
      text-decoration: none; }

.navbar-nav .nav-item {
  margin: 0px 5px; }

.navbar-nav .active {
  position: relative; }
  .navbar-nav .active:after {
    top: -9px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 0px 0px 7px 7px;
    background: #6236ff;
    position: absolute; }

.btn-border-wrap {
  border-radius: 30px;
  position: relative;
  background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
  background: linear-gradient(135deg, #0A83FF, #02EFFD);
  padding-top: 8px;
  padding-right: 3px !important;
  padding-left: 3px !important; }
  .btn-border-wrap span {
    background: #ffffff;
    padding: 7px;
    border-radius: 30px; }

.btn-default {
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  padding: 20px;
  background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
  background: linear-gradient(135deg, #0A83FF, #02EFFD);
  border-radius: 30px;
  color: #ffffff; }

#header-profile {
  padding: 80px;
  min-height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(#0A84FF), to(#02EDFD));
  background: -o-linear-gradient(left, #0A84FF, #02EDFD);
  background: linear-gradient(90deg, #0A84FF, #02EDFD); }
  #header-profile h1 {
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px; }
    #header-profile h1 img {
      margin-top: -10px;
      margin-right: 20px;
      width: 56px;
      height: 56px;
      -o-object-fit: cover;
         object-fit: cover; }
  #header-profile .balance {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    #header-profile .balance a {
      margin-left: 10px;
      color: #ffffff;
      padding: 5px 10px;
      border-radius: 30px;
      border: 2px solid #ffffff;
      text-decoration: none; }

.header-short {
  background: -webkit-gradient(linear, left top, right top, from(#0A84FF), to(#02EDFD));
  background: -o-linear-gradient(left, #0A84FF, #02EDFD);
  background: linear-gradient(90deg, #0A84FF, #02EDFD);
  padding-top: 40px;
  height: 170px; }
  .header-short h1 {
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    line-height: 56px; }

.content-rank {
  max-width: 1360px;
  margin: 0 auto; }
  .content-rank .search {
    margin-top: -30px; }
    .content-rank .search form input {
      width: 100%;
      height: 60px;
      border: none;
      border-radius: 7px;
      background: #ffffff;
      -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
              box-shadow: 0px 20px 40px -20px #bec6de;
      color: #333333;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      text-align: center; }
    .content-rank .search .slider-games {
      margin-top: 20px;
      padding: 0 50px; }
      .content-rank .search .slider-games .game-link {
        margin: 0 10px;
        padding: 15px;
        border-radius: 30px;
        border: 2px solid #eaeaea;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: #000000; }
        .content-rank .search .slider-games .game-link:hover {
          text-decoration: none; }
      .content-rank .search .slider-games .active {
        border-color: #0994ff;
        background-color: #0994ff;
        color: #ffffff; }
      .content-rank .search .slider-games .slick-arrow {
        border-radius: 50%;
        width: 42px;
        height: 42px;
        background: #ffffff;
        -webkit-box-shadow: 0px 20px 40px #bec6de;
                box-shadow: 0px 20px 40px #bec6de; }
      .content-rank .search .slider-games .slick-next {
        right: 0;
        background-image: url("/img/arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center; }
        .content-rank .search .slider-games .slick-next:before {
          content: none; }
      .content-rank .search .slider-games .slick-prev {
        left: 0;
        background-image: url("/img/arrow-left.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center; }
        .content-rank .search .slider-games .slick-prev:before {
          content: none; }
  .content-rank .table-rank {
    margin-top: 45px;
    padding-bottom: 30px; }
    .content-rank .table-rank h2 {
      font-size: 32px;
      font-weight: 400;
      line-height: 43px;
      color: #0a0a0a; }
    .content-rank .table-rank .table-top, .content-rank .table-rank .table-popular {
      border-collapse: separate;
      border-spacing: 0px;
      margin-top: 20px;
      width: 100%;
      border-radius: 7px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
              box-shadow: 0px 20px 40px -20px #bec6de;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px; }
      .content-rank .table-rank .table-top thead tr th, .content-rank .table-rank .table-popular thead tr th {
        padding: 15px;
        font-weight: 400; }
      .content-rank .table-rank .table-top thead tr th:nth-child(1), .content-rank .table-rank .table-popular thead tr th:nth-child(1) {
        padding-left: 65px; }
      .content-rank .table-rank .table-top tbody tr td, .content-rank .table-rank .table-popular tbody tr td {
        padding: 15px; }
        .content-rank .table-rank .table-top tbody tr td .user-link img, .content-rank .table-rank .table-popular tbody tr td .user-link img {
          margin-right: 10px;
          width: 50px;
          height: 50px; }
        .content-rank .table-rank .table-top tbody tr td .positive, .content-rank .table-rank .table-popular tbody tr td .positive {
          margin-right: 5px;
          padding: 5px;
          border-radius: 17px;
          background-color: rgba(109, 212, 0, 0.19); }
        .content-rank .table-rank .table-top tbody tr td .negative, .content-rank .table-rank .table-popular tbody tr td .negative {
          padding: 5px;
          border-radius: 17px;
          background-color: rgba(255, 125, 125, 0.2); }
    .content-rank .table-rank .table-top thead tr {
      border-left: 6px solid #ffffff; }
    .content-rank .table-rank .table-top tbody tr:nth-child(1) {
      background-color: #fffbed; }
      .content-rank .table-rank .table-top tbody tr:nth-child(1) td:nth-child(1) {
        border-left: 6px solid #ffcc00; }
        .content-rank .table-rank .table-top tbody tr:nth-child(1) td:nth-child(1):before {
          margin-right: 20px;
          display: inline-block;
          width: 21px;
          height: 21px;
          content: '';
          background-image: url("../img/star-gold.png"); }
    .content-rank .table-rank .table-top tbody tr:nth-child(2) {
      background-color: #f6f8ff; }
      .content-rank .table-rank .table-top tbody tr:nth-child(2) td:nth-child(1) {
        border-left: 6px solid #e2e8ff; }
        .content-rank .table-rank .table-top tbody tr:nth-child(2) td:nth-child(1):before {
          margin-right: 20px;
          display: inline-block;
          width: 21px;
          height: 21px;
          content: '';
          background-image: url("../img/star-silver.png"); }
    .content-rank .table-rank .table-top tbody tr:nth-child(3) td:nth-child(1) {
      border-left: 6px solid #f2f3f6;
      border-radius: 0px 7px; }
      .content-rank .table-rank .table-top tbody tr:nth-child(3) td:nth-child(1):before {
        margin-right: 20px;
        display: inline-block;
        width: 21px;
        height: 21px;
        content: '';
        background-image: url("../img/star-bronze.png"); }
    .content-rank .table-rank .table-popular tbody tr td:nth-child(1) {
      padding-left: 65px; }

#about .container, #instruction .container, #social .container {
  margin: 0 auto;
  padding: 80px 0px;
  max-width: 1640px; }
  #about .container h1, #about .container h2, #instruction .container h1, #instruction .container h2, #social .container h1, #social .container h2 {
    margin: 0px auto 30px;
    max-width: 1085px;
    font-size: 60px;
    font-weight: 400;
    line-height: 80px; }
  #about .container h2, #instruction .container h2, #social .container h2 {
    text-align: center; }
  #about .container p, #instruction .container p, #social .container p {
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px; }

#politic .container {
  margin: 0 auto;
  padding: 80px 0px;
  max-width: 1082px; }
  #politic .container h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 80px; }
  #politic .container h2 {
    margin-top: 60px; }
  #politic .container p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px; }
  #politic .container blockquote {
    position: relative; }
    #politic .container blockquote:after {
      position: absolute;
      top: 0;
      content: ' ';
      width: 10px;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#01EEFD), to(#0A83FF));
      background: -o-linear-gradient(top, #01EEFD, #0A83FF);
      background: linear-gradient(180deg, #01EEFD, #0A83FF); }
    #politic .container blockquote p {
      margin-left: 35px; }

#rules .container {
  margin: 0 auto;
  padding: 80px 0px;
  max-width: 1082px; }
  #rules .container h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px; }
  #rules .container p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px; }
  #rules .container .btn-default {
    display: inline-block;
    margin-top: 30px; }

#about .container p {
  margin: 0 auto;
  max-width: 1085px; }

#about .container img {
  width: 170px;
  height: 170px;
  display: block;
  margin: 70px auto 0px; }

#about .container .headline {
  display: inline-block;
  padding-top: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px; }

#about .container .description {
  padding-top: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

#instruction {
  background-color: #ffffff; }
  #instruction .container p {
    text-align: center; }
  #instruction .container .headline {
    margin-bottom: 25px;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px; }
  #instruction .container ul {
    margin: 0;
    padding: 0;
    list-style-image: url("../img/marker.png"); }
    #instruction .container ul li {
      font-size: 18px;
      font-weight: 400;
      line-height: 40px;
      padding: 5px 0px; }

#social .container p {
  text-align: center; }

#social .container .btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #social .container .btn-group .btn {
    border: none;
    text-decoration: none;
    display: block;
    margin: 0px 5px;
    max-width: 388px;
    padding: 15px;
    background: -o-linear-gradient(315deg, #0B7FFF, #01F6FD);
    background: linear-gradient(135deg, #0B7FFF, #01F6FD);
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }
    #social .container .btn-group .btn span {
      opacity: 0.8; }

#content {
  padding: 0 15px;
  max-width: 1640px;
  margin: 0 auto; }
  #content .card {
    -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
            box-shadow: 0px 20px 40px -20px #bec6de;
    margin-top: -58px;
    border: none; }
    #content .card .card-header {
      border-bottom: 2px solid #f3f2f6;
      min-height: 60px;
      border-radius: 6px 6px 0 0;
      background-color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      text-align: center; }
    #content .card .card-body {
      min-height: 150px;
      border-radius: 0 0 6px 6px;
      background-color: #ffffff; }
      #content .card .card-body .changeEmailBtn, #content .card .card-body .changePasswordBtn {
        margin: 5px 0px;
        padding: 5px;
        border-radius: 22px;
        display: block;
        text-align: center;
        border: 2px solid #f2f3f6;
        font-size: 18px; }
      #content .card .card-body .card-table {
        width: 100%; }
        #content .card .card-body .card-table thead tr th {
          padding: 10px;
          font-weight: normal; }
        #content .card .card-body .card-table tbody tr {
          border-top: 2px solid #f3f2f6; }
          #content .card .card-body .card-table tbody tr td {
            padding: 10px; }

#chat {
  padding-top: 50px; }
  #chat .container {
    max-width: 1640px; }
    #chat .container .information {
      border-radius: 6px;
      padding: 20px 60px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
              box-shadow: 0px 20px 40px -20px #bec6de; }
      #chat .container .information p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }
    #chat .container .chats .chat {
      position: relative;
      padding: 20px 30px;
      border-radius: 6px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
              box-shadow: 0px 20px 40px -20px #bec6de; }
      #chat .container .chats .chat:after {
        position: absolute;
        border-radius: 6px 0 0 6px;
        content: '';
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(#0A83FF), to(#01EFFD));
        background: -o-linear-gradient(top, #0A83FF, #01EFFD);
        background: linear-gradient(180deg, #0A83FF, #01EFFD); }
      #chat .container .chats .chat p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }
    #chat .container .messages {
      margin-top: 30px;
      border-radius: 6px;
      padding: 30px 60px 40px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
              box-shadow: 0px 20px 40px -20px #bec6de; }
      #chat .container .messages .message {
        margin-bottom: 10px; }
        #chat .container .messages .message img {
          width: 30px;
          height: 30px;
          float: left;
          margin-right: 15px; }
        #chat .container .messages .message p {
          margin: 0; }
      #chat .container .messages form {
        margin-top: 30px; }
        #chat .container .messages form textarea {
          width: 100%;
          display: block;
          padding: 30px;
          border-radius: 6px;
          background: #f2f3f6;
          -webkit-box-shadow: 0px 20px 40px- 20px #bec6de;
                  box-shadow: 0px 20px 40px- 20px #bec6de;
          border: none; }
        #chat .container .messages form button {
          margin-top: 10px;
          padding: 10px 20px;
          background: -o-linear-gradient(315deg, #0B7FFF, #01F6FD);
          background: linear-gradient(135deg, #0B7FFF, #01F6FD);
          color: #ffffff;
          border: none;
          border-radius: 30px;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px; }

#faq .header {
  padding-top: 50px;
  background-color: #ffffff; }
  #faq .header .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1640px;
    border-bottom: none; }
    #faq .header .nav .nav-item .nav-link {
      padding: 15px 30px;
      border: none;
      color: #333333;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px; }
    #faq .header .nav .nav-item .active {
      position: relative; }
      #faq .header .nav .nav-item .active::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
        background: linear-gradient(135deg, #0A83FF, #02EFFD); }

#faq .tab-content {
  padding: 40px 0; }
  #faq .tab-content .container .accordion .card {
    border: none;
    margin-bottom: 10px; }
    #faq .tab-content .container .accordion .card .card-header {
      background-color: #ffffff;
      border-bottom: 2px solid #f3f2f6; }
      #faq .tab-content .container .accordion .card .card-header p {
        margin: 0;
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px; }
        #faq .tab-content .container .accordion .card .card-header p:hover {
          text-decoration: none; }

#order {
  padding-top: 50px; }
  #order .container {
    max-width: 1640px; }
    #order .container .information {
      padding: 50px 30px;
      border-radius: 6px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
              box-shadow: 0px 20px 40px -20px #bec6de; }
      #order .container .information p {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 400;
        line-height: 44px; }
      #order .container .information .cost {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 400; }
      #order .container .information .btn-payment {
        border-radius: 30px;
        padding: 15px 60px;
        background: -o-linear-gradient(315deg, #0B7FFF, #01F6FD);
        background: linear-gradient(135deg, #0B7FFF, #01F6FD);
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        #order .container .information .btn-payment:hover {
          text-decoration: none;
          -webkit-box-shadow: 0px 20px 40px -20px #01F6FD;
                  box-shadow: 0px 20px 40px -20px #01F6FD; }
      #order .container .information .description {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 400;
        line-height: 44px; }
        #order .container .information .description:before {
          display: inline-block;
          width: 15px;
          height: 16px;
          margin-right: 5px;
          content: '';
          background-image: url("../img/shield.svg");
          background-repeat: no-repeat; }
      #order .container .information ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 44px; }
        #order .container .information ul li {
          border-top: 1px solid #f3f2f6; }
    #order .container .description {
      margin: 30px 0; }
      #order .container .description .nav {
        border-radius: 6px 6px 0 0;
        background-color: #ffffff;
        border-bottom: none;
        border-bottom: 2px solid #f3f2f6; }
      #order .container .description .nav-item .nav-link {
        padding: 30px 30px 15px;
        border: none;
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px; }
      #order .container .description .nav-item .active {
        position: relative; }
        #order .container .description .nav-item .active::before {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          width: 100%;
          height: 6px;
          background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
          background: linear-gradient(135deg, #0A83FF, #02EFFD); }
      #order .container .description .tab-content {
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
                box-shadow: 0px 20px 40px -20px #bec6de;
        background-color: #ffffff;
        padding: 30px 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px; }

#reviews {
  margin: 0 auto;
  padding: 50px 15px;
  max-width: 1640px; }
  #reviews h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 56px; }
  #reviews .card-columns {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4; }
    #reviews .card-columns .card {
      margin-bottom: 20px;
      border: none;
      background: #ffffff;
      -webkit-box-shadow: 0px 20px 40px -20px #bec6de;
              box-shadow: 0px 20px 40px -20px #bec6de; }
      #reviews .card-columns .card .card-body .links {
        padding-left: 0px;
        display: inline-block; }
        #reviews .card-columns .card .card-body .links .link {
          margin-top: 0;
          display: inline-block;
          list-style: none; }
          #reviews .card-columns .card .card-body .links .link a {
            padding: 5px 10px;
            border-radius: 15px;
            color: #000000;
            background: #f2f3f6;
            font-size: 12px;
            font-weight: 400; }
            #reviews .card-columns .card .card-body .links .link a:hover {
              text-decoration: none;
              color: #ffffff;
              background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
              background: linear-gradient(135deg, #0A83FF, #02EFFD); }
      #reviews .card-columns .card .card-body .date {
        opacity: 0.8;
        padding: 5px 0;
        float: right;
        font-size: 12px;
        font-weight: 400; }
      #reviews .card-columns .card .card-body .card-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px; }
      #reviews .card-columns .card .card-body .card-text {
        opacity: 0.8;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }

footer {
  padding: 20px 0;
  height: 180px;
  background: #ffffff; }
  footer ul {
    list-style: none; }
    footer ul li a {
      color: #9b9b9b;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px; }
      footer ul li a:hover {
        text-decoration: none;
        color: #000000; }

#main {
  background: #F2F3F6;
  position: relative; }
  #main .content {
    padding-top: 60px;
    max-width: 70%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  #main .content_active {
    max-width: 100%; }
  #main .sidebar {
    background: #ffffff;
    z-index: 100;
    height: 100%;
    padding: 30px 40px;
    top: 61px;
    right: 0;
    position: fixed;
    width: 30%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #main .sidebar .menu-btn {
      position: absolute;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    #main .sidebar .chat h2 {
      text-align: center;
      color: #333333;
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px; }
    #main .sidebar .chat .messages {
      max-height: 60vh;
      height: -webkit-calc(100vh - 300px);
      height: calc(100vh - 300px);
      overflow: auto; }
      #main .sidebar .chat .messages .message {
        padding: 10px 15px;
        background: #ebf0ff;
        border-radius: 7px;
        margin-bottom: 10px;
        margin-right: 10px; }
        #main .sidebar .chat .messages .message img {
          width: 30px;
          height: 30px;
          margin-right: 10px; }
        #main .sidebar .chat .messages .message .text {
          margin-top: 10px; }
    #main .sidebar .chat form {
      margin-top: 10px; }
      #main .sidebar .chat form textarea {
        width: 100%;
        border: solid 1px #ebf0ff;
        background: #ffffff;
        border-radius: 7px; }
      #main .sidebar .chat form button {
        display: block;
        text-align: center;
        float: right;
        border: none;
        text-decoration: none;
        padding: 5px 15px;
        background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
        background: linear-gradient(135deg, #0A83FF, #02EFFD);
        border-radius: 30px;
        color: #ffffff; }
  #main .sidebar_active {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
    #main .sidebar_active .menu-btn {
      padding: 10px;
      border-radius: 7px 0px 0px 7px;
      background-color: #ffffff;
      left: -44px; }

.carousel-search {
  position: absolute;
  bottom: -50px;
  width: 100%; }
  .carousel-search .search-input {
    margin: 0 auto;
    display: block;
    text-align: center;
    min-width: 900px;
    height: 80px;
    background: #ffffff;
    border: 0px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 20px 20px #bec6de;
    box-shadow: 0px 20px 20px #bec6de;
    font-size: 24px;
    font-weight: 400; }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.carousel-caption {
  left: 0;
  right: 0;
  margin-left: -webkit-calc((100vw - 1640px) / 2);
  margin-left: calc((100vw - 1640px) / 2);
  padding-bottom: 15%;
  text-align: left; }
  .carousel-caption h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    color: #333333; }
  .carousel-caption p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #333333; }
  .carousel-caption .button {
    display: block;
    text-align: center;
    width: 245px;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
    background: linear-gradient(135deg, #0A83FF, #02EFFD);
    border-radius: 30px;
    color: #ffffff; }

.group_game {
  padding: 100px 2vw; }
  .group_game .game_card {
    margin: 15px;
    height: 150px;
    position: relative;
    -webkit-box-shadow: 0px 20px 40px 20px #bec6de;
            box-shadow: 0px 20px 40px 20px #bec6de;
    border-radius: 7px; }
    .group_game .game_card::after {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      content: "";
      background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
      background: linear-gradient(135deg, #0A83FF, #02EFFD);
      border-radius: 7px;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
    .group_game .game_card:hover .card_content {
      color: #ffffff; }
    .group_game .game_card:hover::after {
      opacity: 1;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
    .group_game .game_card .card_content {
      z-index: 2;
      position: absolute;
      padding: 15px 10px 20px 10px; }
      .group_game .game_card .card_content .title {
        font-size: 32px;
        font-weight: 400;
        line-height: 43px;
        margin-bottom: -10px; }
      .group_game .game_card .card_content .offers {
        opacity: 0.4;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px; }
      .group_game .game_card .card_content .breads {
        margin-top: 10px;
        padding-left: 0px;
        list-style: none; }
        .group_game .game_card .card_content .breads .bread-item {
          display: inline-block;
          margin-bottom: 5px;
          background-color: #efefef;
          border-radius: 40px;
          padding: 5px;
          color: #000000;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none; }
          .group_game .game_card .card_content .breads .bread-item:hover {
            color: #ffffff;
            background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
            background: linear-gradient(135deg, #0A83FF, #02EFFD); }
    .group_game .game_card .preview {
      z-index: 2;
      position: absolute;
      height: 100%;
      right: 0; }

.reviews {
  padding: 0px -webkit-calc(2vw + 15px) 50px;
  padding: 0px calc(2vw + 15px) 50px; }
  .reviews .card {
    margin: 20px 15px;
    border: none;
    background: #ffffff; }
    .reviews .card .card-body .links {
      padding-left: 0px;
      display: inline-block; }
      .reviews .card .card-body .links .link {
        margin-top: 0;
        display: inline-block;
        list-style: none; }
        .reviews .card .card-body .links .link a {
          padding: 5px 10px;
          border-radius: 15px;
          color: #000000;
          background: #f2f3f6;
          font-size: 12px;
          font-weight: 400; }
          .reviews .card .card-body .links .link a:hover {
            text-decoration: none;
            color: #ffffff;
            background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
            background: linear-gradient(135deg, #0A83FF, #02EFFD); }
    .reviews .card .card-body .date {
      opacity: 0.8;
      padding: 5px 0;
      float: right;
      font-size: 12px;
      font-weight: 400; }
    .reviews .card .card-body .card-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px; }
    .reviews .card .card-body .card-text {
      opacity: 0.8;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }

.modal-open {
  padding-right: 0px !important;
  overflow: auto !important; }

.modal-content {
  border-radius: 20px;
  background: #ffffff;
  padding: 25px 50px; }
  .modal-content .modal-body h2 {
    text-align: center;
    color: #333333;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px; }
  .modal-content .modal-body form [type='email'], .modal-content .modal-body form [type='password'], .modal-content .modal-body form [type='text'] {
    height: 60px;
    border-radius: 30px;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color: #f2f3f6; }
  .modal-content .modal-body form button {
    display: block;
    border: none;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    background: -o-linear-gradient(315deg, #0A83FF, #02EFFD);
    background: linear-gradient(135deg, #0A83FF, #02EFFD);
    border-radius: 30px;
    color: #ffffff; }
  .modal-content .modal-body form a {
    text-align: center;
    display: block;
    color: #0994ff; }
  .modal-content .modal-body form .form-group {
    position: relative; }
    .modal-content .modal-body form .form-group a {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 14px;
      font-weight: 400;
      color: #0994ff; }
